/*========== general ==========*/
body {
  text-align: center;
  font-family: arial;
  color: #222;
  background-image: linear-gradient(rgba(72, 110, 235, 0.3), rgba(39, 75, 35, 0.3)), url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
	background-position: center;
  background-position: center;
	background-attachment: fixed;
}

footer {
  width: 100%;
  margin-top: 35px;
  padding: 5px;
  color: #999;
  font-size: 14px;
}

button {
  background: transparent;
  border: 3px black solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
  transition: 0.5s ease-out;
}

button:hover {
  color: #fff;
  background-color: black;
  border-color: grey;
  transform: scale(1.1);
  cursor: pointer;
}

button:focus {
  outline: none;
}

.fab {
  color: skyblue;
  margin-left: 15px;
  transition: 0.3s ease-out;
}

.fab:hover{
  color: gold;
  transform: scale(2);
}

.table{
  background: red;
}
/*========== sidebars ==========*/
.fightButton1,
.fightButton2{
  font-size: 15px;
}

.defendButton{
  background: coral;
}

.attackButton{
  background: maroon;
}

.player-img{
  max-width: 150px;
  max-height: 150px;
}

.weapon-display{
  max-width: 80px;
  max-height: 80px;
}

.stats-box {
  border: 2px solid #222;
  border-radius: 7px;
  background:#9fbff2;
  margin: auto 5px;
  padding: 15px;
  height: 200%;
  min-width: 250px;
  min-height: 510px;
}
/*========== board ==========*/
#game{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.possible {
  background: rgba(83,231,51, 0.3);
  transition: 0.1s ease-in;
  cursor: pointer;
}

.possible:hover{
  background: rgba(56, 139, 91, 0.7);
}

.grid-container {
  border: 2px solid black;
  border-radius: 7px;
  display: grid;
  max-width: 700px;
  max-height: 700px;
  position: relative;
  grid-template: repeat(10, 1fr)/repeat(10, 1fr);
  margin: 10px auto;
  background-image: url("images/grassCropped.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.grid-item {
  outline: 1px solid rgba(0,233,0,0.3);
  background-image: url("http://www.stickpng.com/assets/images/58bf22fce443f41d77c734dd.png");
  border-radius: 7px;
  width: 70px;
  height: 70px;
}

.frostbite{
  background-image: url("images/hielo.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 70px 70px;
  margin: auto;
  z-index: 1;
}

.shield{
  background-image: url("images/escudo.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 70px 70px;
  margin: auto;
}

.block {
  background-image: url("images/pino.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 60px 70px;
  margin: auto;
}

.weapon-1 {
  background-image: url("images/daga.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 40px 40px;
  margin: auto;
}

.weapon-2 {
  background-image: url("images/espada.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 70px 70px;
  margin: auto;
}

.weapon-3 {
  background-image: url("images/hacha.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 70px 70px;
  margin: auto;
}

.weapon-4 {
  background-image: url("images/lanza.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 70px 70px;
  margin: auto;
}

.player-1 {
  background-image: url("images/Thor.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 60px 70px;
  margin: auto;
}

.player-2 {
  background-image: url("images/loki.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 50px 70px;
  margin: auto;
}

.turn{
  color: darkred
}

.btn {
  color: white;
  border-radius: 7px;
  font-size: 15px;
}

.box{
  box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
}

#back-volume {
  position: absolute;
  top: 40px; left: 40px;
  font-size: 30px;
  color: darkred;
}

#back-volume:hover {
  cursor: pointer;
}
/*=========== Modal Window =============*/
.modal,
.modal-two {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
#main-title {
  font-family: 'Staatliches', cursive;
  margin: 10px;
  font-size: 120px;
  color: gold;
}

#instructions {
  background: rgba(0,0,0,0.3);
  border: 2px linear #333;
  border-radius: 7px;
  padding: 30px;
  width: 60%;
  margin: 0px auto 15px auto;
  text-align: justify;
}

#end-title {
  font-family: 'Staatliches', cursive;
  font-size: 80px;
  color: gold;
  /* color: rgb(76, 196, 72); */
}

#fight {
  font-family: 'Staatliches', cursive;
  font-size: 80px;
  color: darkred;
}

#winner-img {
  margin: 20px;
}

#winner-gif {
  max-width: 300px;
  max-height: 250px;
}

.modal-content{
  background-image: linear-gradient(rgba(7, 7, 23, 0.6), rgba(0, 0, 35, 0.7)), url("https://images.pexels.com/photos/33150/flash-thunderstorm-flash-of-lightning-black.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  background-position: center;
  background-attachment: fixed;
  color: #eee;
  margin: 0;
  padding: 20px;
  border: 7px solid #333;
  width: 100%;
  height: 100%;
}

.modal-content-two {
  background-image: linear-gradient(rgba(7, 7, 23, 0.6), rgba(0, 0, 35, 0.7)), url("https://images.pexels.com/photos/33150/flash-thunderstorm-flash-of-lightning-black.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
	background-position: center;
  background-position: center;
	background-attachment: fixed;
  color: #eee;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #222;
  width: 70%;
  height: 90%;
}

/* The Close Button */
.close,
.rematch {
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  color: gold;
}
/*======== animations =========*/
/*----fThor animation----*/
#init-Thor {
  animation-name: thor-animation;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes thor-animation {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%)
  }  
}
/*----Loki animation----*/
#init-Loki{
  animation-name: loki-animation;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes loki-animation {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0%)
  }  
}

#main-title {
  animation-name: title-animation;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes title-animation {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0%)
  }  
}

#instructions {
  animation-name: inst-animation;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes inst-animation {
  0% {
    opacity: 0;
    transform: translateY(-300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }  
}

.close {
  animation-name: btn-animation;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes btn-animation {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}

#winner-phrase {
  animation-name: winner-animation;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes winner-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}

#end-title {
  animation-name: end-title-animation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes end-title-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}