html {
  outline: 1px dotted red;
}

body {
  text-align: center;
  font-family: arial;
}

#game{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}


.possible {
  background: rgba(0,139,139, 0.7) !important;
  width: 70px;
  height: 70px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.possible:hover{
  background: pink !important;
}

.grid-container {
  display: grid;
  max-width: 700px;
  max-height: 700px;
  position: relative;
  grid-template: repeat(10, 1fr)/repeat(10, 1fr);
  margin: 10px auto;
  border: 2px solid black;
}

.grid-item {
  outline: 1px solid rgba(0,0,0,0.5);
  background: teal;
  width: 70px;
  height: 70px;
}

.block {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-image: radial-gradient( black,#222,grey);
  border: 4px solid black;
}

.weapon {
  width: 40px;
  height: 40px;
  border-radius: -10px;
  margin: auto;
}

.weapon-1 {
  background: gold!important;
}

.weapon-2 {
  background: purple!important;
}

.weapon-3 {
  background: peru!important;
}

.weapon-4 {
  background: springgreen!important;
}

.player-1 {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: blue!important;
  margin: auto;
}

.player-2 {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: red!important;
  margin: auto;
}

.btn {
  color: white;
  border-radius: 7px;
  font-size: 15px;
}

.player-img{
  max-width: 150px;
}

.stats-box {
  border: 2px solid grey;
  background: #999;
  margin: auto 5px;
  padding: 15px;
  height: 200%;
  min-width: 250px;
}

#start-btn {
  background: rgb(50, 177, 50);
}

#reset-btn {
  background: rgb(192, 24, 24);
}

/*=========== Modal Window ==============*/
.modal, .modal-two {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
  background-color:forestgreen;
  font-family: arial;
  color: #eee;
  margin: 0;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

.modal-content-two {
  text-align: center;
  background-color:coral;
  font-family: arial;
  color: #eee;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 70%;
}

.fightButton1 {
  font-size: 15px;
}

.fightButton {
  font-size: 15px;
}

.defendButton{
  background: coral;
}

.attackButton{
  background: maroon;
}

/* The Close Button */
.close, .rematch {
  text-align: center;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}