html {
  outline: 1px dotted red;
}

.grid-container {
  display: grid;
  max-width: 1000px;
  max-height: 1000px;
  position: relative;
  grid-template: repeat(10, 1fr)/repeat(10, 1fr);
}

.grid-item {
  outline: 1px solid rgba(0,0,0,0.5);
  background: grey;
  width: 100px;
  height: 100px;
}

.block {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  background-image: radial-gradient( black,#222,grey);
  border: 4px solid black;
}

.weapon {
  width: 60px;
  height: 60px;
  border-radius: -10px;
  background: teal;
}

.player-1 {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background: blue;
}

.player-2 {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background: red;
}